body{
    width: 80%;
    height: 80%;
    background-color: aqua;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: auto;
    text-align: center;
   
}
button{
font-size: 25px;
}

.css-overlock {
    font-family: 'Overlock', serif;
    }

.centrado{
 align-items: center;

}

.imagen {  
    max-width: 10rem;  
    height: auto;
    align-self: center;
    margin-left: auto;
    } 
.mediano {  
        max-width: 25rem;  
        height: auto;
        align-self: center;
        margin-left: auto;
        } 
.remove-bg{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.css-overlock {
    font-size: 40px;
    font-family: 'Overlock', serif;
    }
